{% extends 'base.html' %}

{% block instructors %}

<h2>{{ inst_header }}</h2>
<table border="1">
    <th>CWID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Course</th>
    <th>Students</th>
    {% for instructor in instructors %}
        <tr>
            <td>{{ instructor.id }}</td>
            <td>{{ instructor.name }}</td>
            <td>{{ instructor.department }}</td>
            <td>{{ instructor.course }}</td>
            <td>{{ instructor.students }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}